<div class="p-3 border rounded">
  <h6 class="mb-3">{{ "plot.widget.title" | translate }}</h6>

  <div class="bd-example-tabs">
    <div class="row">
      <!-- Tab List -->
      <div class="col-4 col-md-3">
        <div class="nav nav-tabs nav-tabs-vertical nav-tabs-vertical-background" role="tablist"
          aria-orientation="vertical">
          <a *ngFor="let group of objectKeys(widgets)" class="nav-link" [class.active]="activeTab === group"
            (click)="activeTab = group" href="javascript:void(0)" role="tab">
            {{ group }}
          </a>
        </div>
      </div>

      <!-- Tab Content -->
      <div class="col-8 col-md-9">
        <div class="tab-content">
          <div *ngFor="let group of objectKeys(widgets)" class="tab-pane p-3 fade" [class.show]="activeTab === group"
            [class.active]="activeTab === group" [class.fade]="true">
            <div class="row">
              <div *ngFor="let widget of widgets[group]" class="col-12 col-md-6 mb-4">
                <div>
                  <div class="p-2  rounded h-100">
                    <div class="d-flex justify-content-between align-items-center small">
                      <label class="form-label mb-0"
                        [itTooltip]="!isEditable(widget) ? 'Modifica non disponibile per questo indice' :  undefined ">
                        {{ widget.label }}
                      </label>
                      <span *ngIf="widget.description" class="material-icons text-muted ms-2"
                        style="font-size: 16px; cursor: pointer;" [itTooltip]="widget.description"
                        itTooltipPosition="right">
                        help_outline
                      </span>
                    </div>
                    <!-- CATEGORIALE -->
                    <ng-container *ngIf="widget.kind === 'categorical'; else distributionBlock">
                      <div class="mt-2 position-relative" 
                           [ngClass]="{ 'disabled-slider-wrapper': !isEditable(widget) }"
                           (clickOutside)="closeDropdown(widget.name)">
                        <button 
                          class="btn btn-outline-primary w-100 d-flex justify-content-between align-items-center"
                          type="button"
                          [disabled]="!isEditable(widget)"
                          (click)="toggleDropdown(widget.name)">
                          <span>{{ widget.v ? widget.v : 'Seleziona...' }}</span>
                          <span class="material-icons ms-2">expand_more</span>
                        </button>

                        <div class="dropdown-menu w-100 show" 
                             *ngIf="openDropdown[widget.name]"
                             style="position: absolute; top: 100%; left: 0; z-index: 9999; max-height: 200px; overflow-y: auto;">
                          <div class="link-list-wrapper">
                            <ul class="link-list">
                              <li>
                                <a class="list-item text-muted"
                                   [class.active]="!widget.v"
                                   (click)="selectCategorical(widget, null)">
                                  <span><em>Nessuna selezione</em></span>
                                </a>
                              </li>
                              <li *ngFor="let opt of widget.support">
                                <a class="list-item"
                                   [class.active]="widget.v === opt"
                                   (click)="selectCategorical(widget, opt)">
                                  <span>{{ opt }}</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <!-- DISTRIBUTION (range doppio) -->
                    <ng-template #distributionBlock>
                      <ng-container *ngIf="widget.kind === 'distribution'; else scalarBlock">
                        <div class="custom-slider" [ngClass]="{
                          'disabled-slider': !isEditable(widget),
                          'disabled-slider-wrapper': !isEditable(widget)
                        }" [itTooltip]="!isEditable(widget) ? 'Modifica non disponibile per questo indice' : undefined">
                          <ngx-slider
                            [(value)]="widget.vMin!"
                            [(highValue)]="widget.vMax!"
                            [options]="{
                              floor: widget.min_value ?? 0,
                              ceil: widget.max_value ?? 1000,
                              step: widget.step ?? 1
                            }"
                            (userChangeEnd)="onWidgetChange()">
                          </ngx-slider>
                        </div>
                        <div class="small text-end text-muted">
                          [{{ widget.vMin }}, {{ widget.vMax }}]
                          <span *ngIf="widget.unit"> {{ widget.unit }}</span>
                        </div>
                      </ng-container>
                    </ng-template>

                    <!-- SCALAR (valore singolo) -->
                    <ng-template #scalarBlock>
                      <div class="d-flex align-items-center gap-2 mt-2" [ngClass]="{ 'disabled-slider-wrapper': !isEditable(widget) }">
                        <button class="btn btn-sm btn-outline-secondary" (click)="decrease(widget)" [disabled]="!isEditable(widget)">−</button>
                        <input type="number"
                               class="form-control form-control-sm text-center"
                               style="width: 90px;"
                               [(ngModel)]="widget.v"
                               (ngModelChange)="onWidgetChange()"
                               [min]="widget.min_value ?? 0"
                               [max]="widget.max_value ?? 9999"
                               [step]="widget.step ?? 1"
                               [disabled]="!isEditable(widget)"/>
                        <button class="btn btn-sm btn-outline-secondary" (click)="increase(widget)" [disabled]="!isEditable(widget)">+</button>
                        <span *ngIf="widget.unit" class="text-muted small">{{ widget.unit }}</span>
                      </div>
                    </ng-template>


                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->