<it-header
  slimTitle="{{ 'header.title' | translate }}"
  slimTitleLink="#"
  [showSearch]="false"
  [sticky]="true"
  [expand]="true"
>
<ng-container slimRightZone>
  <div class="d-flex align-items-center mt-1 gap-3">
    
    <div class="d-flex align-items-center">
      <span class="text-white small me-2">Contesto:</span>
      <div class="dropdown">
        <button class="btn btn-outline-light btn-sm d-flex justify-content-between align-items-center dropdown-toggle" 
                type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 0.75rem;">
          <span class="me-2 text-uppercase">{{ currentTenant || 'Seleziona' }}</span>
        </button>
        <div class="dropdown-menu">
          <div class="link-list-wrapper">
            <ul class="link-list">
              <li *ngFor="let t of tenants">
                <a class="list-item" style="cursor: pointer;" (click)="onTenantChange(t)">
                  <span class="text-uppercase">{{ t }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center gap-1">
      <it-icon name="user" class="icon-white"></it-icon>
      <span class="text-white small">
        <strong>{{ authService.userName }}</strong>
      </span>
    </div>
    
    <button class="btn btn-outline-light btn-sm px-2 d-flex align-items-center gap-1" style="font-size: 0.75rem;" (click)="doLogout()">
      <it-icon name="logout" class="icon-white"></it-icon>
      Esci
    </button>
    
  </div>
</ng-container>
  <ng-container brand>
    <a href="#" class="d-flex align-items-center">
      <img src="assets/images/logo.png" alt="IAxPA Logo" class="responsive-logo me-2" />
      <div class="it-brand-text">
        <div class="it-brand-title responsive-title">Analisi dell'affollamento turistico</div>
        <div class="it-brand-tagline d-none d-md-block"></div>
      </div>
    </a>
  </ng-container>


  <ng-container navItems>
    <it-navbar-item *ngFor="let link of links">
      <a class="nav-link" [ngClass]="{ active: isActive(link)}" [routerLink]="link.route">
        {{ link.label }}
      </a>
    </it-navbar-item>

  </ng-container>
</it-header>