<!-- AREA PRIVATA-->
<ng-container *ngIf="authService.isLoggedIn; else loginLayout">
  <app-header (toggleSidebar)="toggleSidebar()"></app-header>
  
  <div class="d-flex">
    <main class="p-4" style="flex: 1">
      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet></router-outlet>
    </main>
  </div>
  
  <app-footer></app-footer>
  <app-chatbot></app-chatbot>
</ng-container>

<!-- AREA PUBBLICA-->
<ng-template #loginLayout>
  <router-outlet></router-outlet>
</ng-template>

<app-toast></app-toast>